.experience {
    color: white;
    background: linear-gradient(to bottom, #222 0%, #222 100%);
}

.exp-header {
    text-align: center;
    padding: 4rem 2rem;
}

.job-icon {
    font-size: 7em;
    padding-right: 20px;
}

.job-container {
    padding-top: 20px;
    padding: 4rem 2rem;
}


