.socials-container i{
    margin-right: 151px;
    margin-top: 50px;
    font-size: 60px;
    width: 42px;
    color:#222;
}

.fa-linkedin:hover {
    transition: all 0.35s;
    opacity: 0.5;    
}

.fa-github-square:hover {
    transition: all 0.35s;
    opacity: 0.5;
}

.fa-envelope-square:hover {
    transition: all 0.35s;
    opacity: 0.5;
}